


<p-card >
<ng-template pTemplate="header">
        <img alt="Card" class="w-full" src="Angular.png" />
    </ng-template>

<div class="card flex flex-col items-center gap-4" style="margin: 1rem; display: flex;">

<p-button [raised]="true" size="small" label="Login" (onClick)="login()" icon="pi pi-sign-in" />


<p-button [raised]="true" size="small" [disabled]="!token" severity="success" label="Cargar archivo privado" (click)="cargarArchivo()" icon="pi pi-download" />

</div>

<div *ngIf="archivoUrl">
  <a [href]="archivoUrl" target="_blank">Abrir archivo privado</a>
</div>

</p-card>


